<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="login-container">

    <div class="row">

      <span class="col-md-12 title-head">Edit <%= current_user.email %></span>

    </div>

      <div class="row">

        <span class="col-md-4 text-center">
        </span>

        <span class="col-md-4 text-center">
          <hr>
        </span>

        <span class="col-md-4 text-center">
        </span>

      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">

          <span class="col-md-2"></span>
          <div class="col-md-4 field text-left">
            <%= f.label :email %></div>
          <div class="col-md-3 field text-left"> 
            <%= f.email_field :email, autofocus: true %></div>
          <span class="col-md-3"></span>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

        </div>

        <div class"row"><br></div>

        <div class="row">

          <span class="col-md-2"></span>
          <div class="col-md-4 field text-left">
            <%= f.label :password %> </div>
          <div class="col-md-3 field text-left"> 
            <%= f.password_field :password, autocomplete: "off" %></div>
          <span class="col-md-3"></span>
        </div>

        <div class"row">
          <span class="col-md-12 text-center">
          <i>(Leave blank if you don't want to change it)</i></span>
        </div>

        <div class"row"><br></div>
        <div class"row"><br></div>

        <div class="row">

          <span class="col-md-2"></span>
          <div class="col-md-4 field text-left">
            <%= f.label :password_confirmation %></div>
          <div class="col-md-3 field text-left"> 
            <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
          <span class="col-md-3"></span>
          </div>

        <div class="row"><br></div>

        <div class="row">

          <span class="col-md-2"></span>
          <div class="col-md-4 field text-left">
            <%= f.label :current_password %> </div>
          <div class="col-md-3 field text-left">
            <%= f.password_field :current_password, autocomplete: "off" %></div>
          <span class="col-md-3"></span>
        </div>

        <div class="row">
          <span class="col-md-12 text-center"
          <i>(Need your current password to confirm your changes)</i></span>
        </div>  

        <div class="row"><br></div>

        <div class="row actions text-center">
          <%= f.submit "Update", class: "btn btn-danger"  %>
        </div>
      <% end %>

      <div class="row">

        <span class="col-md-4 text-center">
        </span>

        <span class="col-md-4 text-center">
          <hr>
        </span>

        <span class="col-md-4 text-center">
        </span>

      </div>

      <div class="row">

        <span class="col-md-3"></span>

        <span class="col-md-6 text-center">  

        <h4>Cancel My Account</h4>

        <%= button_to "Close Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-danger"  %>

        <%= link_to "Back", :back %></span>
        <span class="col-md-3"></span>
      </div>

    </div> <!-- end of login-container -->

  </div>
        <div class="col-md-3"></div>
</div>
