 <h1>List of all orders</h1>

 <div id="list-orders">
   <% if @orders %>
     <% @orders.each do |order| %>
       <table id="order-#{order.id}">
          <%= "Order ID: #{order.id}" %>
          <%= "Sub-total: #{order.subtotal}" %>
          <%= "Tax: #{order.tax}" %>
          <%= "Shipping: #{order.shipping}" %>
          <%= "Order Date: #{order.created_at}" %>
     <% end %>
   <% end %>
 </div>

