<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div class="login-container">

      <div class="row">
        <span class="col-md-12 text-center title-head">Log in</span>
      </div>


      <div class="row">
        <span class="col-md-12"><hr></span>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">

          <div class="field">
            <span class="col-md-4 text-right">
              <%= f.label :email %><br>
            </span>
            <span class="col-md-8 text-left">
                <%= f.email_field :email, autofocus: true %>
            </span>
          </div>

        </div>  

        <div class="row"><br></div>

        <div class="row">

          <div class="field">
            <span class="col-md-4 text-right">
              <%= f.label :password %><br>
            </span>
            <span class="col-md-8 text-left">
              <%= f.password_field :password, autocomplete: "off" %>
            </span>
          </div>

        </div>

        <div class="row"><br></div>

       
        <div class="row">

          <% if devise_mapping.rememberable? -%>

            <div class="field">
              <span class="col-md-5 text-right">
                <%= f.check_box :remember_me %>
              </span>
              <span class="col-md-7 text-left">
                <%= f.label :remember_me %>
              </span>
            </div>

          <% end -%>

        </div>

        <div class="row"><br></div>

        <div class="actions row">
          <span class="col-md-12 text-center">
            <%= f.submit "Log in", class: "btn btn-danger"%>
          </span>
        </div>

      <% end %>

      <div class="row">
        <span class="col-md-12"><hr></span>
      </div>
      
      <div class="row">
        <span class="col-md-12 text-center">
          <%= render "devise/shared/links" %>
        </span>
      </div>

    </div> <!-- end of login-container -->
  </div>

  <div class="col-md-4"></div>
</div>
