 <h1>List of all products</h1>

 <div id="list-products">
   <% if @products %>
     <table class="table table-striped table-hover">
       <thead>
         <th>Name</th>
         <th>Price</th>
         <th>Size</th>
         <th>Brand</th>
         <th>Description</th>
       </thead>
       <% @products.each do |product| %>
         <tr id="product-#{product.id}">
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.size %></td>
            <td><%= product.brand %></td>
            <td><%= product.description %></td>
          </tr>
       <% end %>
     </table>
   <% end %>
 </div>

