<div class="input-form">
  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @product, url: products_path, html: {method: :post, multipart: true } do |f| %>

    <div class="row">
      <span class="col-md-12 text-center">
        <h2>Add a Product</h2>
      </span>
    </div>

    <div class="row">

      <span class="col-md-4 text-center">
      </span>

      <span class="col-md-4 text-center">
        <hr>
      </span>

      <span class="col-md-4 text-center">
      </span>

    </div>

    <div class="row">

      <span class="col-md-4"></span>
      
      <span class="col-md-2">
        <%= f.label 'Product Name:' %>
      </span>

      <span class="col-md-2">
        <%= f.text_field :name, placeholder: 'Product Name' %>
      </span>

      <span class="col-md-4"></span>
    </div>

    <div class="row">

      <span class="col-md-4"></span>
      
      <span class="col-md-2">
        <%= f.label 'Price:' %>
      </span>

      <span class="col-md-2">
        <%= f.text_field :price, placeholder: 'Price' %>
      </span>

      <span class="col-md-4"></span>

    </div>

    <div class="row">

      <span class="col-md-4"></span>

      <span class="col-md-2">
        <%= f.label 'Size:' %>
      </span>


      <span class="col-md-2">
      <%= f.text_field :size, placeholder: 'Size' %>
      </span>

      <span class="col-md-4"></span>

    </div>

    <div class="row">

      <span class="col-md-4"></span>

      <span class="col-md-2">
        <%= f.label 'Brand:' %>
      </span>

      <span class="col-md-2">
        <%= f.text_field :brand, placeholder: 'Brand' %>
      </span>
      <span class="col-md-4"></span>

    </div>

    <div class="row">

      <span class="col-md-4 text-center">
      </span>

      <span class="col-md-4 text-center">
        <hr>
      </span>

      <span class="col-md-4 text-center">
      </span>

    </div>

<div class="row">

      <span class="col-md-4"></span>

      <span class="col-md-4 text-center" >  
        <%= f.label 'Description:' %>
      </span>

      <span class="col-md-4"></span>

    </div>

    <div class="row">

      <span class="col-md-2"></span>

      <span class="col-md-8 text-center">  
        <%= f.text_area :description, placeholder: 'Description:' %>
      </span>

      <span class="col-md-2"></span>

    </div>


    <div class="row">

      <span class="col-md-4 text-center">
      </span>

      <span class="col-md-4 text-center">
        <hr>
      </span>

      <span class="col-md-4 text-center">
      </span>

    </div>

    <div class="row">

      <span class="col-md-4"></span>

      <span class="col-md-2">
          <%= f.label 'Image:' %>
      </span>
      <span class="col-md-2">
         <%= f.file_field :image %>
      </span>

      <span class="col-md-4">
      </span>

    </div>

    <div class="row">

      <span class="col-md-4 text-center">
      </span>

      <span class="col-md-4 text-center">
        <hr>
      </span>

      <span class="col-md-4 text-center">
      </span>

    </div>

    <div class="row">
      <span class="col-md-5"></span>

      <span class="col-md-2 text-center" >
        <div class="buttons_div">
           <%= f.submit :Create %> 
           <%= button_tag "Cancel" %>
        </div>
      </span>

      <span class="col-md-5"></span>

     </div>

  <% end %>


</div>


