<div class="input-form">
  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <% if @product %>

    <%= form_for(@product, html: { method: :get } ) do |f| %>

      <div class="form-group">
        <span class="col-md-12 text-center">
          <h1> <%= @product.name %> </h1>
        </span>
      </div>

      <div class="form-group">
        <span class="col-md-5 text-center" >

        <%= image_tag @product.image.url(:medium), 'data-toggle' => "modal", 'data-target' => "#myModal" %>

        </span>
      </div>

        <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog" >
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">

            
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"> <%= @product.name %> </h4>

                  <%= image_tag @product.image.url(:large), width: "100%" %>  
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>

        <span class="col-md-7">

          <div class="form-group">

            <span class="control-label text-left col-md-4">
              <%= f.label :name, 'Product Name:' %>
            </span>

            <span class="text-left col-md-8">
              <%= @product.name %>
            </span>

          </div><br>

          <div class="form-group">

            <span class="control-label text-left col-md-4">
              <%= f.label :price, 'Price:' %>
            </span>

            <span class="text-left col-md-8">
              $ <%= @product.price %>
            </span>

          </div><br>

          <div class="form-group">
            <span class="control-label text-left col-md-4">
              <%= f.label :size, 'Size:' %>

            </span>
            <span class="text-left col-md-8">
              <%= f.select(:size, options_for_select([['Size 7', 1],
                                                        ['Size 7.5', 2],       
                                                        ['Size 8', 3],
                                                        ['Size 8.5', 4],
                                                        ['Size 9', 5],
                                                        ['Size 9.5', 6],
                                                        ['Size 10', 7],
                                                        ['Size 10.5', 8],
                                                        ['Size 11', 9],
                                                        ['Size 11.5', 10],
                                                        ['Size 12', 11]
                                                        ])) %>
            </span>
          </div><br>

          <div class="form-group">
            <span class="control-label text-left col-md-4">
              <%= f.label :brand, 'Brand:' %>
            </span>
            <span class="text-left col-md-8">
              <%= @product.brand %>
            </span>
          </div><br>

          <div class="form-group">
            <span class="control-label text-left col-md-4">
              <%= f.label :description, 'Description:' %>
            </span>
            <span class="text-left col-md-8">
              <%= @product.description %>
            </span>
          </div><br>

          <div class="form-group">
            <span class="col-md-12">
              <button type="button" class="btn btn-danger">
              <%= link_to 'Add to Cart', '#', class: "add-btn", data: { line_item: @product.attributes } %></button> <br>
            </span>
          </div><br>



        </span>

    <% end %>

  <% end %>

</div>

