<!DOCTYPE html>
<html>
  <head>
    <title>Rails Login with Bootstrap</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <!-- Custom stylesheet to override Bootstrap styling -->
    <link rel="stylesheet" type="text/css" href="/assets/custom.css">

    <!-- Bootstrap 3 is designed to be responsive to mobile devices. Mobile-first styles are part of the core framework.

    To ensure proper rendering and touch zooming, add the following <meta> tag inside the <head> element -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

  </head>

  <body>

    <div class="container">

    <header>
      <nav class="navbar navbar-inverse navbar-custom">
        <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="#">Sneaker Store   |</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li> <%= link_to 'Home', root_path %> </li>
              <li> <%= link_to 'Products', products_path %> </li>
              <li> <%= link_to 'About', pages_about_path %> </li>
              <li> <%= link_to 'Contact', pages_contact_path %> </li>
              <li> <%= link_to 'Cart',  carts_path %> </li>
<!--          <li> <%= link_to 'Sign In', user_session_path %> </li>
              <li>  <%= link_to 'Sign Up', new_user_registration_path %> </li>
              <li> <%= link_to 'Edit Profile', edit_user_registration_path %>
              <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

<!--     <div id = "flash notice">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div> -->

    <%= yield %>

  </div> <!-- end of container div -->



  </body>           
</html>
